#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    /* width: 100px; */
  }

  body {
    background: #7a7a7a;
    color: #1D1F20;
    font-family: "Roboto", sans-serif;
  }
  .button {
    background-color: #7a7a7a;
    text-indent: 0;
    border: 1px solid #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  .button:hover {
    background-color: #474747;
  }
  .button:active {
    position: relative;
    top: 1px;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(3, 36, 41, 0.8);
     /* rgba(3,2*16+4, 2*16+9,0.7); */
    /* background: #032429; */
    
  }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 20%;
    height: 60%;
    font-size: 80px;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
  }
  .overlay ul li {
    display: inline-block;
    height: 20%;
  }
  .overlay ul li a {
    font-weight: 300;
    text-decoration: none;
    display: block;
    color: #1d1f20;
    margin-right: 40px;
    list-style: none;
  }
  .overlay-close {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #000;
    font-size: 14px;
  }
  .overlay-data {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    visibility: 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  .overlay-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  * {
    box-sizing: border-box;
  }
  

  
  .wrapper {
    margin: 0 auto;
  }
  
  .red, .blue {
    padding: 1em;
    margin-bottom: 1em;
  }
  .red {
    background: rgba(255,100,100, 1);
  }
  .blue {
    background: rgba(130,130,255, 1);
  }
  
    .left-col {
  width: 70%;
  float: left;
      clear: left;
  }
  .right-col {
    width: 20%;
    float: right;
      clear: right;
  }
    .wrapper {
        width: 100%;
    }
  
  
  @media screen and (max-width:800px) {
  
    .left-col {
  width: 49%;
  float: left;
      clear: left;
  }
  .right-col {
    width: 49%;
    float: right;
      clear: right;
  }
    .wrapper {
        width: 95%;
    }
  body:after {
    content: '800';
  }
  
  
  @media screen and (max-width:600px) {
  
  body:after {
    content: '600';
  }
    
  .left-col, .right-col {
      float: none;
      clear: both;
      width: 100%;
  }
    
  }
   
    
  


  html {
 height: 100%
}

body {
 font-family: 'Raleway', sans-serif;
 background-color: #2a2734;
 color: #fff;
 padding: 2%;
 text-align: center;
 letter-spacing: .1em;
 min-height: 100%;
}

label {
 font-weight: 100;
 font-size: 60px;
 letter-spacing: .03em;
 color: #9b87fd!important;
}


input, #helperspan { 
 display: inline-block;
 font-size: 24px;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
 text-align: left;
 letter-spacing: 2px;
}

input {
 vertical-align: bottom; 
 margin-right: 10px;
 margin-top: 15px;
 border-radius: 40px!important;
 transition: translate .2s;
}

#helperspan {
 white-space: pre; 
 visibility: hidden;
 position: absolute;
 pointer-events: none;
 
}

input {
 background-color: #2a2734;
 border: 2px solid #7149ee;
 color: #7149ee;
 width: auto;
 height: 48px;
 padding: 0 20px; 
}

li {
 color: #fff;
 padding: 0 50px 0 20px;
 list-style-type: none;
 line-height: 50px;
 font-weight: 300;
 position: relative;
 cursor: pointer;
 user-select: none;
 white-space: pre;
}


input { max-width: 80vw!important; }
li { overflow: hidden; text-overflow: ellipsis!important; }

li:hover {
 transform: scale(1.05)!important;
}

li:after {
 content: " ×";
 color: #333;
 font-weight: 400;
 opacity: .6;
 font-size: 30px;
 line-height: 20px;
 position: absolute;
 right: 20px;
 top: 14px;
}

li:hover::after {
 opacity: 1;
}

input:focus,
input#add:focus {
 outline: none;
 width: 130px;
}

div {
 display: inline-block;
}

#container {
 min-height: 80vh;
	max-width: 1000px;
}


.tim {
 color: #6c6783;
 bottom: 2%;
 left: 0;
 width: 100%;
 text-align: center;
 margin-top: 5vh;
}

.tim a {
 color: #6c6783;
}

.item-transition-enter {
 opacity: 0.01;
}

.item-transition-enter.item-transition-enter-active {
 opacity: 1;
 transition: opacity 500ms ease-out;
}

.item-transition-leave {
 opacity: 1;
 transform-origin: left center;
}

.item-transition-leave.item-transition-leave-active {
 opacity: 0.01;
 width: 0 !important;
 color: rgba(42, 39, 52, 0);
 padding: 0;
 transition: .2s padding ease-out, color .2s ease-in, opacity .2s ease-out, width .2s ease-out, translate .2s ease-out;
}

@media (max-width: 600px) {
 body {
  font-size: 14px;
 }
 label {
  font-weight: 300;
  font-size: 40px;
 }
 .tim {
  display: none;
 }
}